body {
    background-color: #F8F8F8;
}

body> main {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    background-color: #F8F8F8;
    }

header {display: inline-block;
width: 100%;
 }

header>img {display: inline-block;
   float: left;
   height: 120px;
   margin-top: 10px;
   margin-left: 10px;}

nav {
    display: inline-block;
float: right;
margin-top: 10px;
margin-right: 10px;
}



a {
display: inline-block;
padding: 2px;
float: left;
padding-left: 15px;
padding-right: 15px;
margin-left: 10px;
margin-right: 5px;
text-decoration: none;
font-size: 20px;
color: #9E9E9E;
border: 2px solid transparent;
}

a:last-of-type {
text-transform: uppercase;
border-color: #9E9E9E;
border-radius: 22px;}

section {display: inline-block;
width: 100%;
padding: 20px;
margin-top: 60px;
text-align: center;
}

div {display: inline-block;
width: 50%;
float: left;
margin-top: 100px;
margin-left: 10px;
text-align: center;
color: #9E9E9E;}

h1 {display: inline-block;
width:100%;
font-size: 180px;
margin:0;}

p {display: inline-block;
width:100%;
font-size: 22px;
margin-top: 0;}


section>img {display: inline-block;
   float: right;
   max-width: 100%;
    margin-right: 100px;
}

   